{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="utf-8">
                    <meta name="viewport" content="width=device-width,
                    initial-scale=1, shrink-to-fit=no">
                    <link rel="stylesheet"
                    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                    crossorigin="anonymous">
                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"
                integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
                crossorigin="anonymous"></script>

</head>
<body>
{% for item in books %}
    <div class="card-deck">
      <div class="card" style="width: 30rem;" >
        <img class="card-img-top" src= {{item[1]}}  >
        <div class="card-body">
          <h5 class="card-title">{{item[2]}}</h5>
          <p class="card-text">{{item[3]}}
    </p>
          <p class="card-text"><small class="text-muted">{{item[4]}}</small></p>
            <a href="/add_news/{{item[5]}}" class="btn btn-primary">Добавить заметку</a>
            {% if username in admins %}
            <a href="/delete_book/{{item[0]}}" class="btn btn-danger">Удалить книгу</a>
            {% endif %}
    </div>
  </div>
         <div class="card" style="width: 30rem;" >
        <img class="card-img-top" src= {{item[7]}}  >
        <div class="card-body">
          <h5 class="card-title">{{item[8]}}</h5>
          <p class="card-text">{{item[9]}}
    </p>
          <p class="card-text"><small class="text-muted">{{item[10]}}</small></p>
            <a href="/add_news/{{item[11]}}" class="btn btn-primary">Добавить заметку</a>
            {% if username in admins %}
            <a href="/delete_book/{{item[6]}}" class="btn btn-danger">Удалить книгу</a>
            {% endif %}
    </div>
  </div>
        </div>
{% endfor %}
</body>
</html>
{% endblock %}